---
- name: "({{ ansible_facts['distribution'] }}) Update APT package cache"
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  retries: 2
  delay: 5
  tags:
    - apt

- name: "({{ ansible_facts['distribution'] }}) APT autoremove"
  ansible.builtin.apt:
    autoremove: true
  retries: 2
  delay: 5
  tags:
    - apt

- name: "({{ ansible_facts['distribution'] }}) Upgrade APT to the latest packages"
  ansible.builtin.apt:
    upgrade: full
    autoremove: true
  retries: 2
  delay: 5
  tags:
    - apt

- name: Install wireguard
  ansible.builtin.apt:
    name: wireguard-tools
    state: present
  become: yes

- name: Setup wg0 config
  ansible.builtin.copy:
    src: "{{ wireguard_src_conf }}/{{ inventory_hostname }}/{{ wireguard_interface }}.conf"
    dest: "/etc/wireguard/{{ wireguard_interface }}.conf"
    owner: root
    group: root
    mode: 600
  become: yes
  notify: Restart WireGuard

- name: Enable IPv4 forwarding
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Set TCP congestion control to BBR
  ansible.builtin.sysctl:
    name: net.ipv4.tcp_congestion_control
    value: "bbr"
    state: present
    reload: yes

- name: Start and enable WireGuard service
  ansible.builtin.service:
    name: "wg-quick@{{ wireguard_interface }}"
    state: "{{ wireguard_service_state }}"
    enabled: "{{ wireguard_service_enabled }}"
