---
# tasks file for sysupdate

- name: Print distribution
  debug:
    msg: "{{ ansible_facts['distribution'] | default('') }}"

- name: Debian system update
  include_tasks: debian.yml
  when:
    - sysupdate__enable | bool
    - ansible_facts['distribution'] in ["Debian", "Ubuntu"]

- name: Arch system update
  include_tasks: arch.yml
  when:
    - sysupdate__enable | bool
    - ansible_facts['distribution'] == "Archlinux"
