###############################################################################
#  DHCP SERVER CONFIG FILE AUTOMATICALLY POPULATED BY PI-HOLE WEB INTERFACE.  #
#            ANY CHANGES MADE TO THIS FILE WILL BE LOST ON CHANGE             #
###############################################################################
dhcp-authoritative
dhcp-range={{ dhcp_start }},{{ dhcp_end }},{{ dhcp_leastime }}h
dhcp-option=option:router,{{ dhcp_router }}
dhcp-leasefile=/etc/pihole/dhcp.leases
#quiet-dhcp

domain={{ pihole_domain }}

