[DEFAULT]
banaction = nftables
banaction_allports = nftables[type=allports]

[sshd]
backend = systemd
journalmatch = _SYSTEMD_UNIT=ssh.service + _COMM=sshd
port =  {{ base_sshd_port }}
maxretry = {{ base_sshd_retries }}
findtime = 86400
bantime = 86400
mode = aggressive
enabled = true
